/*
 * Created by PhpStorm.
 * User: nemzag aka Gazmen Arifi
 * Date: 2018-04-06
 * Time: 09:25
 */

/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/

body {
    font-family: "Courier New", monospace;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}
.site-branding {
    max-width: 1320px;
	margin-right: auto;
}

.site-content {
    max-width: 92%;
/* 99% */
}

.single .site-content {
    max-width: 99%;
}

div.content-area article {
    overflow: scroll;
}

body.single div.content-area article {
    overflow: visible;
    margin-right: 0;
}

body.page-template div.content-area article {
    overflow: visible;
    margin-right: 0;
	margin-left: 0;
}

.single .content-area {
    float: left;
    width: 100%;
}

div.content-area main {
    margin-left: 0;
	width: 100%;
}

.widget-area {
    float: right;
    width: 270px;
	position: relative;
	margin-left: 50px;
}

.single .widget-area {
    margin-right: 50px;
}

/* HTML BASIC TAG */
body {
    color: #000000;
}

div.site-branding h2.site-description {
    font-family: "Times New Roman", Times, "Libre Baskerville", serif;
	font-size: 1.5rem;
}

header h1 a {
    font-family: "Times New Roman", Times, "Libre Baskerville", serif;
	font-size: 111%;
}

main h1.entry-title {
    font-family: "Times New Roman", Times, "Libre Baskerville", serif;
	font-size: 35px;
}

main {
    font-family: "Courier New", Courier, "Anonymous Pro", monospace;
}

div.widget-area h2.widget-title {
    font-family: "Times New Roman", Times, "Libre Baskerville", serif;
	font-size: 1em;
}

blockquote {
    background-color: rgba(0,0,0,0.05);
	font-variant: small-caps;
	font-style: normal;
}

a {
    color: #5e5e5e;
}

/* TABLE */
table {
    border: 1px double rgba(64,64,64,.20);
}

table th, table td {
    border: 1px solid rgba(64,64,64,.30);
    vertical-align: top;
}

table th {
    font-weight: bold;
	text-align: center;
	background: rgba(0,0,0,0.05);
}

.fifty-percent {
    width: 50%;
}

/* nine-column */
/* eighteen-column */
.nine-column-nowrap td:nth-child(3), .nine-column-nowrap td:nth-child(5), .nine-column-nowrap td:nth-child(9), .eighteen-column td:nth-child(1), .eighteen-column td:nth-child(18), .eighteen-column td:nth-child(7), .eighteen-column td:nth-child(12), .eighteen-column td:nth-child(5), .eighteen-column td:nth-child(14), .eighteen-column td:nth-child(3), .eighteen-column td:nth-child(16) {
white-space: nowrap;
}

.nine-column-nowrap td:nth-child(1), .nine-column-nowrap td:nth-child(2), .nine-column-nowrap td:nth-child(3), .eighteen-column td:nth-child(7), .eighteen-column td:nth-child(8), .eighteen-column td:nth-child(9), .eighteen-column td:nth-child(10), .eighteen-column td:nth-child(11), .eighteen-column td:nth-child(12) {
font-weight: bold;
}

.nine-column-nowrap td:nth-child(5), .eighteen-column td:nth-child(5), .eighteen-column td:nth-child(14) {
    /*
        font-family: Andalus, Aldanaus, serif;
        font-size: x-large;
    */
font-weight: bold;
}

.nine-column-nowrap td:nth-child(5), .eighteen-column td:nth-child(5), .eighteen-column td:nth-child(14) {
text-align: right;
}

.nine-column-nowrap td:nth-child(7), .eighteen-column td:nth-child(3), .eighteen-column td:nth-child(16) {
text-transform: uppercase;
}

.nine-column-nowrap td:nth-child(8), .eighteen-column td:nth-child(2), .eighteen-column td:nth-child(17) {
font-style: italic;
}

.two-column th:nth-child(n+2),
.four-column th:nth-child(n+3),
.six-column th:nth-child(n+4),
.eight-column th:nth-child(n+5),
.ten-column th:nth-child(n+6),
.twelve-column th:nth-child(n+7),
.fourteen-column th:nth-child(n+8),
.sixteen-column th:nth-child(n+9),
.eighteen-column th:nth-child(n+10),
.two-column td:nth-child(-n+1),
.four-column td:nth-child(-n+2),
.six-column td:nth-child(-n+3),
.eight-column td:nth-child(-n+4),
.ten-column td:nth-child(-n+5),
.twelve-column td:nth-child(-n+6),
.fourteen-column td:nth-child(-n+7),
.sixteen-column td:nth-child(-n+8),
.eighteen-column td:nth-child(-n+9) {
background-color: #000000;
	color: #ffffff;
}

.two-column th:nth-child(-n+1),
.four-column th:nth-child(-n+2),
.six-column th:nth-child(-n+3),
.eight-column th:nth-child(-n+4),
.ten-column th:nth-child(-n+5),
.twelve-column th:nth-child(-n+6),
.fourteen-column th:nth-child(-n+7),
.sixteen-column th:nth-child(-n+8),
.eighteen-column th:nth-child(-n+9),
.two-column td:nth-child(n+2),
.four-column td:nth-child(n+3),
.six-column td:nth-child(n+4),
.eight-column td:nth-child(n+5),
.ten-column td:nth-child(n+6),
.twelve-column td:nth-child(n+7),
.fourteen-column td:nth-child(n+8),
.sixteen-column td:nth-child(n+9),
.eighteen-column td:nth-child(n+10) {
background-color: #ffffff;
	color: #000000;
}

.two-column th:nth-child(-n+1),
.four-column th:nth-child(-n+2),
.two-column td:nth-child(-n+1),
.four-column td:nth-child(-n+2) {
text-align: right;
}

.two-column th:nth-child(n+2),
.four-column th:nth-child(n+3),
.two-column td:nth-child(n+2),
.four-column td:nth-child(n+3) {
text-align: left;
}

.four-column td:nth-child(2), .four-column td:nth-child(3) {
font-weight: bold;
	text-align: center;
}

.four-column td:nth-child(1), .four-column td:nth-child(4) {
width: 50%;
}

.taocodex_title_genative {
    font-weight: bold;
	background-color: #000000;
	color: #ffffff;
}

.taocodex_title_negative {
    font-weight: bold;
	background-color: #ffffff;
	color: #000000;
}

.taocodex_negative {
    background-color: #000000;
	color: #ffffff;
}

.taocodex_genative {
    background-color: #ffffff;
	color: #000000;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}